{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>研修として社員を参加させたい</h1>
<br>
<p>助成金を利用する</p>
<p>ITブートキャンプを利用した社員研修に助成金を利用できる可能性があります。助成金を利用することでコストをかけずに社内の人材をIT化しましょう。</br>
<br>
<p>利用できる助成金シミュレーション</p>
<p>◎ 4週間（28日間）コース／授業料290,000円（税抜）</p>
<p>授業料の半額（145,000円）＋（時給800円×224時間）＝324,200円支給</p>
<p>◎ 2週間（14日間）コース／授業料160,000円（税抜）</p>
<p>授業料の半額（80,000円）＋（時給800円×112時間）＝169,600円支給</p>
<br>
<hr>
<h3>こんな企業様におすすめです</h3>
<p>外注費を抑えたい</p>
<p>社内のHPを外注していませんか？社内で内製化できれば、WEB制作費、修正費、更新費用、広告バナーの制作費などの外注費用を削減できます。</p>
<br>
<p>社員にホームページの管理を任せたい</p>
<p>Photoshop / Illustrator / HTML / CSS / コーディング / スマートフォン最適化 / Bootstrap / WordPress etc…</p>
<p>WEB制作会社で使用されている最先端の技術を習得できます。</p>
<br>
<p>ITエンジニアを雇用したいが良い人材を獲得できるか不安</p>
<p>せっかく費用をかけて採用してもすぐに辞めてしまったり、期待したほど活躍してくれないリスクがあります。社内の人をエンジニア化させるのが、最もローコストかつローリスクです。</p>
<br>
<hr>
<p>１：ITブートキャンプ(IBC)の必要性</p>
<p>1-1.</p>
<p>なぜ、中堅企業内にフロント・エンジニアを育成しなければならないのか?  制作会社に丸投げではいけないのか?</p>
<p>お客様の層や商圏を広げてビジネスを成長させるた めに、新しい時代の会社の顔とも言えるホームページ を、いままで以上に効果的なものにする必要があります。そのためには、タイムリーな情報の更新や、より効果のある表現の追求などを常に行う必要があります。</p>
<p>その時、障害になってくるのが、目新しい技術であるWEBの技術の習得です。しかしながら、WEBの制作は難しい業務ではありません。</p>
<p>学びさえすれば誰でも実務家になることができます。WEB制作を外注し続ける限り無駄なコストが発生し続けるため、企業は内製化 することが本来適切です。</p>
<p>企業規模にもよりますが、経理や総務を外注しないことに等しいと考えられます。</p>
<br>
<p>1-2.</p>
<p>フロント･エンジニアがいると、企業の活動の何が変わるのか?どうかわるのか? その効果はなにか?デジタルマーケティングの展開</p>
<p>企業内にフロントエンジニアがいれば、自社ホームページを迅速に更新することが実現できます。</p>
<p>ホームページを外注先に依存していると、緊急の場合やリアルタイムでの対応が難しく余計な費用と工数が発生してしまいます。</p>
<p>例えば採用において応募者の96%はその企業のホームページを閲覧するといわれています。求人媒体以外でも、応募者に向けて自社の魅力をアピールすることで、より多くのお客様や、新しい商圏への展開など、潜在顧客層を大幅に増やすことができます。</p>
<p>また、よくデザインされたホームページは、お客様の購買方法も変化させることができます。これらにより、営業の質の向上や実質的な強化を実現できます。</p>
<p>また、どの業界・業種においても顧客の探客に自社ホームページを活用するべきです。デジタル広告は世界中で年々利用が増え続けており、2017年にはテレビ広告を越えるといわれています。</p>
<p>企業はデジタル広告を活用して自社の収益を上げることが急務だと考えられます。</p>
<br>
<p>1-3.</p>
<p>受講対象者 事務・総務・経理など内勤の社員がおすすめです。</p>
<br>
<p>2：I-B-Cの構成、メリット、差別点</p>
<p>2-1.</p>
<p>I-B-Cの、教育内容の説明と価格、参加時期、参加形態（宿泊、通い）</p>
<p>教育方法について</p>
<p>カリキュラムを個別ですすめる個別学習方式です。わからないところを講師またはメンターに質問し、理解を深めます。</p>
<p>自ら「調べる」能力も育成し、卒業後も自らの力で成長できる人材に育成します。</p>
<br>
<p>2-2.</p>
<p>I-B-Cの直接的な(担当者の)成果はなにか</p>
<p>当カリキュラムにて提供されているプログラミング言語とツールを活用し、WEBサイトを0から1人で制作することができようになります。</p>
<p>また、既存のWEBサイトの更新・改修などができるようになります。</p>
<br>
<p>2-3.</p>
<p>I-B-Cのメリット</p>
<p>短期集中、リアルへのこだわりとその理由</p>
<p>短期集中で、ひたすらパソコンと向き合ってもらうことで能力を劇的に伸ばします。</p>
<p>また、同じ環境で学ぶ人がいることで刺激や競争が生まれ、相乗効果を生み出すことができます。</p>
<p>例として、英語の学習とITエンジニア技術を比較した表を記載しております。（下図参照）英語の学習でいうと、ITブートキャンプは留学に値すると考えております。</p>
<br>
<p>3：ITブートキャンプ(IBC)の必要性</p>
<p>3-1.</p>
<p>デジタル・マーケティングのサポート 修了生と共にマーケティング計画、フロントページ / ランディングページ作成支援</p>
<p>IBCでの研修により得られたWEB技術をより活かすために、デジタルマーケティングについての経験を蓄積する必要があります。</p>
<p>カホンは、修了生を対象に上級WEB 解析士によるコンサルティングを提供します（有料オプション）。</p>
<p>このコンサルティング・サービスでは、OJT（On the Job Training）感覚で現実の貴社の課題を解決することで、修了生と貴社のデジタルマーケティング能力そのものの底上げを狙います。</p>
<br>
<p>3-2.</p>
<p>修了生コミュニティによるサポートや支援、人材調達</p>
<p>IBC修了生のための互助組織を準備しています。</p>
<p>技術情報の交換、問題解決に向けた助言、及び、制作依頼などを交換する場を提供することで、修了生の自発的な成長を長期的に実現します。</p>
<br>
<p>4：助成金の説明、カホンによる申請支援</p>
<p>4-1.</p>
<p>助成対象金</p>
<p>キャリア形成促進助成金</p>
<p>労働者のキャリア形成を効果的に促進するため、職業訓練などを段階的・体系的に実施する事業主に対して助成する 制度です。</p>
<p>支給対象となる訓練</p>
<p>制作課題対応訓練「成長分野等人材育成コース」</p>
<p>支給内容</p>
<p>賃金助成（1人1時間当たり800円）</p>
<p>経費助成1/2※授業料の1/2支給</p>
<br>
<p>4-2.</p>
<p>申請事務</p>
<p>カホンより申請代行サービスのご紹介も可能です。</p>
<br>
<p>4-3.</p>
<p>労務条件上の留意点</p>
<p>詳しくはお問い合わせください。</p>
<p>下記を参照</p>
<p>※各雇用関係助成金に共通の要件等（厚生労働省HP内）</p>
<p>http://www.mhlw.go.jp/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/dl/kyoutsuu_youken.pdf</p>
<br>
<hr>
<p>助成金を利用する</p>
<p>ITブートキャンプを利用した社員研修に助成金を利用できる可能性があります！</p>
<p>※助成金の支給を保証するものではありません。</p>
<p>助成金を利用することで、コストを抑えて社内の人材をIT化することが可能です。</p>
<br>
<p>キャリア形成促進助成金</p>
<p>労働者のキャリア形成を効果的に促進するため、職業訓練などを段階的・体系的に実施する事業主に対して助成する制度です。</p>
<p>支給対象となる訓練  政策課題対応型訓練「成長分野等人材育成コース」</p>
<p>支給内容    賃金助成（1人1時間当たり800円） 経費助成1/2 * 授業料の1/2支給</p>
<p>支給限度額  20時間以上100時間未満：15万円 100時間以上200時間未満：30万円 1人1コース当たり7〜50万円です。 1事業所が1年度に受給出来る助成額は最大で500万円までです。</p>
<br>
<p>支給迄の流れ</p>
<p>①訓練計画の作成・提出  「事業内職業能力開発計画の策定」「職業能力開発推進者」の選任 従業員い対して実施する訓練計画を作成※1コース20時間以上、OffーJTであることが条件 原則、訓練実施が1ヶ月前までに「訓練実施計画届」と必要な書類の労働局への提出が必要</p>
<p>②訓練の実施    事業所内で内部・外部講師によって行われる訓練、教育訓練施設で実施される訓練等</p>
<p>③支給申請書の提出  訓練終了後（2ヶ月以内）に「支給申請書」と必要な書類を労働局に提出</p>
<p>④助成金受け取り    支給審査の上、支給、不支給を決定（審査には時間を要します。）</p>
<br>
<hr>
<p>申請が面倒だな。そんな時間はないな。 と感じる方には・・・</p>
<p>申請代行サービスのご紹介も可能性です。</p>
<p>助成金に関しての詳細は下記よりお問い合わせ下さい。</p>
<br>
<hr>
{% include "/elements/form_company.twig" %}
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
