{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>FAQ</h1>
<br>
<h3>よくあるご質問</h3>
<p>未経験者でも参加できますか？</p>
<p>参加者の80％は未経験者です。 個別学習になっているので、自分のペースでカリキュラムを進めることが可能です。また、わからない箇所はすぐに質問して解決できる環境をご用意しております。 卒業後もサポート期間内は、講師への質問が可能ですので、安心してキャンプにご参加下さい。</p>
<br>
<p>プログラミングコースはありますか？
<p>本カリキュラムはフロントエンド部分が中心になっています。 プログラム(バックエンド)だけを表面的に覚えてもフリーランスとしてやっていけません。今後はプログラミングを含めたコースも予定しています。</p>
<br>
<p> 学習時間は何時間ですか？</p>
<p>自分で進める個別学習タイプの為、学習時間は決まっておりません。 講師のサポートは10時〜19時ですが、教室は24時間使用可能で好きな時間に好きなだけ学習することが可能です。</p>
<br>
<p> すべての授業を受けないとダメですか？</p>
<p>いいえ、大丈夫です。 経験のあるものは飛ばし、苦手なものに重点を置いて進めていただきます。</p>
<br>
<p> 業務委託はどれくらい稼げますか？</p>
<p>個人のスキルや制作内容により委託できる案件には幅があります。 スキルのレベルや条件がマッチすれば30万円以上の案件の委託も可能です。</p>
<br>
<p>支払い方法は何ですか？</p>
<p>PayPalでのクレジットカード払いと銀行振込の2種から選べます。</p>
<br>
<p>分割払いは可能ですか？</p>
<p>最大12回の分割支払いが可能です。 その他、クレジットカードをご利用いただいてのお支払いも可能です。 詳しくはお問い合わせください。</p>
<br>
<p>受講の際に必要なソフトはありますか？</p>
<p>Illustrator・Photoshopのソフトが必要になります。 お持ちでない方は、カリキュラム内で30日間の無料体験版のダウンロード方法も紹介していますので、そちらから始めて頂いても問題ありません。</p>
<br>
<p>PCはMacではないとダメですか？</p>
<p>Windowsでも大丈夫です。 PCのご購入をご検討されている方はお気軽に事務局にご相談くださいませ。</p>
<br>
<p>オンラインコースは海外からでも参加できるのでしょうか？</p>
<p>はい。もちろん参加可能です。 自分のペースで進めて頂けるので、ネット環境が整っていれば海外でも問題なく進めることができます。 実際に海外から参加されている生徒さんもいらっしゃいますので、ご安心ください。</p>
<br>
<p>いつから参加可能ですか？</p>
<p>ご自身の参加したい日時に合わせて参加することができます。 ※場合によってご希望に添えない場合もございますので、１度事務局にご相談下さいませ。</p>
<br>
<p>カリキュラムはどのように進めていくのですか？</p>
<p>Lessonごとの課題を目標に、ご自身のペースで進めて頂きます。 オンラインも滞在型もカリキュラムの内容は一緒ですが、質問の仕方など多少異なる部分がございますので詳しくはお問い合わせ下さい。</p>
<br>
<p>卒業後はどんな道がありますか？</p>
<p>就職、フリーランス、サポートメンバー、３つの道をサポートしています。 例えば、 ・学んだスキルを活かして就職したい ・短期間で学んだ内容をもっと繰り返し行い基礎を固めていきたい ・フリーランスになるために実践力を身につけたい ・ITブートキャンプのメンターとして活躍したい など、卒業前には必ず面談を行い、ご自身の希望に合わせたサポートをさせていただいています。</p>
<br>
<hr>
<p><a href="/faq/contact/">詳しくはこちら</a></p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
