{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>オンラインコース</h1>
<br>
{% include "/elements/comparison_table.twig"%}
<br>
<hr>
<h3>完全オンラインコースがついに始動!!</h3>
<p>2015年6月に石垣島でスタートした、 短期間でウェブサイト制作の力が身につく【ITブートキャンプ!!】 『参加してみたいけど、学校に通ったり宿泊しながら受講することが難しい…。』 という方のために、試験的に実施していた『完全オンラインコース』が、 大好評につき正式始動！</p>
<p>こんな方にオススメ!</p>
<p>･平日は仕事が遅くまであるし、通うのは難しい。</p>
<p>･子供が小さいし、家事もあるし、自由な時間は夜の数時間のみ。</p>
<p>･宿泊費まで捻出するのは厳しい・・・</p>
<p>完全オンラインコースなので、お仕事から帰ってから、学校や会社のお休みを利用して・・・etc. ご自身の生活スタイルに合わせて、勉強する時間を変えることが可能！</p>
<br>
<hr>
<h3>コース紹介</h3>
<p>Webデザインコース ６週間</p>
<p>一人でウェブサイトの制作をできる実力を身につけたい方にオススメです。 ウェブサイト制作に必要な基本スキルを全て身につけることをゴールとしています。</p>
<br>
<p>WordPressコース ６週間</p>
<p>ウェブサイトの制作スキルを既に修得している方にオススメです。 WordPressを修得することで仕事の幅を広げ、より市場価値の高いエンジニアへのステップアップが可能です。</p>
<p>※WordPressとは CMS(コンテンツ・マネジメント・システム)と呼ばれるソフトウェアの１つです。 世界のトップ1000万WEBサイトのうち、37%がCMSを使っているが、WordPressはその60%のシェア率と圧倒的な人気を博しています。WordPressを活用できるとエンジニアの市場価値は一気にあがります。</p>
<br>
<p>コース内容･詳細</p>
<p>Webデザインコース</p>
<p>参加費用    期間    カリキュラム内容</p>
<p>98,000円(税別)  6週間</p>
<p>WordPressなし</p>
<p>【1章】HTML+CSS基礎</p>
<p>【2章】Illstrator+Photoshop</p>
<p>【3章】Bootstrap、Webサイト制作、レスポンシブサイト制作</p>
<br>
<p>WordPressコース</p>
<p>参加費用    期間    カリキュラム内容</p>
<p>98,000円(税別)  6週間   </p>
<p>WordPressあり</p>
<p>【1章】Cloud9-WordPress構築</p>
<p>【2章】WordPress基礎+プラグイン</p>
<p>【3章】オリジナルテーマ化手順</p>
<p>【4章】サーバーセットアップ手順</p>
<p>【5章】オリジナルテーマ化 ,サーバーセットアップ</p>
<p>【6章】オリジナルテーマ応用編</p>
<p>【7章】オリジナルテーマ応用編 制作</p>
<p>【8章】オリジナルサイト制作</p>
<br>
<p>同時申込みでお得!!セット割引!! (Webデザインコース+Wordpressコース)</p>
<p>参加費用    期間    カリキュラム内容</p>
<p>196,000円(税別) → セット割引 176,000円(税別)   12週間→16週間</p>
<p>※セット申し込みで更にプラス「4週間」</p>
<p>Webデザインコース内容 【1章】〜【3章】 + WordPressコース内容 【1章】〜【8章】</p>
<p>※カリキュラムの内容は変更になる場合があります。 ※各コースに制作課題が発生します。</p>
<br>
<hr>
<h3>《 参加条件 》</h3>
<p>PCをお持ちの方</p>
<p>20歳以上</p>
<p>学習意欲のある人</p>
<br>
<hr>
<h3>他サービスとはここが違う！ITブートキャンプ</h3>
<p>１、オンラインでも安心して学べる</p>
<p>オンラインコースは、通常のITブートキャンプと同様、カリキュラムに沿って自分のペースで勉強をし、分からない部分はメンターに質問をする。といった形で学習を進めて頂きます。 これに加え、最大週２回、メンターとハングアウトなどのビデオ通話で面談が可能。 画面共有をしながら質問や相談ができます。 （対応時間／９：００〜２３：００） もちろん、通いコースとの違いはありません。 チャットシステムでの質問はいつでもOK！ ※夜間は返答までにタイムラグが生じる場合がございます。</p>
<br>
<p>２、集中型だから短い期間で、しかもお得に受講できる！</p>
<p>    Ａ社    ITブートキャンプ</p>
<p>期間    ３週間  ６週間</p>
<p>費用    １５９,０００円(税別)   ９８,０００円(税別)</p>
<p>メンターとの面談    週２回  週２回</p>
<p>卒業後のサポート</p>
<p>カリキュラムは卒業後も閲覧可能 追加のメンターサポートは別</p>
<p>転職･就職斡旋 業務委託案件の紹介</p>
<br>
<p>３、就職・転職活動をフルサポート！</p>
<p>書類作成のアドバイス</p>
<p>職務経歴書などのチェックは３営業日以内に対応します！ 書類フォーマット・書き方のアドバイスもいたします。</p>
<p>事前の面接練習</p>
<p>遠方の方はビデオチャットでも対応可能です。</p>
<p>LINEでのやり取りが可能</p>
<p>LINEなどを活用し、アドバイザーが個別にフルサポート！</p>
<br>
<p>４、弊社からの業務委託</p>
<p>弊社基準のIBC認定条件を満たした方（修了生）には、プロとして弊社からお仕事を受注出来る可能性がございます。 修了生の方のみにご紹介できる案件です。 弊社からの依頼は経験を積む・自分の技術力を明確にするチャンスです！</p>
<p>ー 弊社からの業務紹介例 ー</p>
<p>案件内容</p>
<p>ウェブサイト制作</p>
<p>支払金額</p>
<p>例：5万円〜20万円</p>
<p>※制作レベルや経験があれば、より高単価の案件の委託も可能です。</p>
<br>
<p>５、IBCを支えるサポートメンバーの道も</p>
<p>卒業後はITブートキャンプのサポートメンバーとして、今度は生徒さんに教える立場に。 講師(メンター)のサポートをしつつ、学習しながら報酬がもらえます。 オンラインコースのメンターになれば、ご自宅の空き時間に生徒さんに教えつつ収入を得ることも可能です。</p>
<br>
<hr>
<p><a href="/on_line/contact/">詳しくはこちら</a></p>
<br>
<hr>
<p>LINE@ LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
