{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>通って受講</h1>
<br>
<h3>予約は不要！空いた時間に通いとオンラインとの組み合わせ受講</h3>
<p>校舎の近くにお住まいの方であれば、都合の良い時間に教室に通ったり、オンラインで受講したり組み合わせることが可能です。 フロントエンドエンジニアコースであれば、８週間。WEBデザインコース、WordPressコースであれば、６週間の中で自由に通ったり自宅で受講したりして頂けます。</p>
<br>
<hr>
<h3>ベビーカーOK！学生やお子様がいる主婦も通いやすい。</h3>
<p>好きなときに通って学べる学習スタイルなので、家事や育児で忙しいママでも勉強で忙しい学生でも安心です。</p>
<br>
<hr>
<h3>就活を考えている学生はこちら</h3>
<p><a href="/ibc-for-recruitment/">就活ITブートキャンプ</a></p>
<br>
<hr>
<h3>通い方の例</h3>
<p>通って受講できる校舎はこちら</p>
<p>石垣校舎</p>
<p>受講可能コース</p>
<p>フロントエンジニア</p>
<p>Webデザイン</p>
<p>WordPress</p>
<p><a href="/lp/">詳細はこちら</a></p>
<br>
<p>受講可能コース</p>
<p>フロントエンジニア</p>
<p>Webデザイン</p>
<p>WordPress</p>
<p><a href="/niigata/">詳細はこちら</a></p>
<br>
<p>東京校</p>
<p>フロントエンジニア</p>
<p>Webデザイン</p>
<p>WordPress</p>
<p>就活ITブートキャンプ</p>
<p><a href="/tokyo/">詳細はこちら</a></p>
<br>
<p>島根校</p>
<p>フロントエンジニア</p>
<p>Webデザイン</p>
<p>WordPress</p>
<p><a href="/shimane/">詳細はこちら</a></p>
{% endblock%}
