{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>この物語は30代独身IT経験ゼロの彼女が 1ヶ月でITエンジニアになるまでを追うドキュメントである。</h1>
<br>
<p>【事務局からの一言】<br>
<p>まるやまさんは、青森から石垣に向けて出発の日に不運にも台風の影響で飛行機が飛ばないトラブルに見舞われました。 事務局から連絡した際に、「帰っていいですか？」の一言を聞いたときには、“本当にこの人が１ヶ月も自分を追い込みながら、成長してITエンジニアになれるのだろうか……？”と不安を通り越して正直落胆と諦めしかなかったです……。 そんな彼女が遠い石垣の土地で、心温かい人と出逢い、キレイな景色に囲まれながら、挫折を繰り返し、それでも前に進む姿は涙なしには見れません。 本当に暇な人は、ぜひvol.90まで御覧ください。<br お時間のない方は、ぜひ総集編のpart１〜part4まで御覧ください。</p>
<br>
<hr>
<h3>石垣島ITブートキャンプ参加者奮闘記 総集編 全4話</h3>
<p>総集編1</p>
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_01.jpg" alt="struggles_01" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_01.jpg" alt="struggles_01" /></noscript></a>
<p>総集編2</p>
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_02.jpg" alt="struggles_02" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_02.jpg" alt="struggles_02" /></noscript></a>
<p>総集編3</p>
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_03.jpg" alt="struggles_03" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_03.jpg" alt="struggles_03" /></noscript></a>
<p>総集編4</p>
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_04.jpg" alt="struggles_04" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/struggles_04.jpg" alt="struggles_04" /></noscript></a>
<br>
<hr>
<h3>石垣島ITブートキャンプ 参加者奮闘記 Vol.1〜Vol.90</h3>
<!-- 奮闘記1 -->
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/youtube_01.jpg" alt="youtube_01" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/youtube_01.jpg" alt="youtube_01" /></noscript></a>
<p class="text-center bold">奮闘記1</p>
<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xufvOnf1Kw8" width="300" height="150"></iframe></div>
<!-- /奮闘記1 -->
<!-- 奮闘記2 -->
<img class="img-responsive" src="http://i-b-c.jp/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/youtube_02.jpg" alt="youtube_02" /><noscript><img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/ibc-renew4/images/youtube_02.jpg" alt="youtube_02" /></noscript></a>
<p class="text-center bold">奮闘記2</p>
<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/chqi2UP0xCU?" width="300" height="150"></iframe></div>
<!-- /奮闘記2 -->
<br>
<hr>
<p><a href="/struggles/contact/"> もっと詳しく</a></p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
