{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>Ruby</h1>
<br>
{% include "/elements/comparison_table.twig"%}
<br>
<hr>
<h3>ITブートキャンプでプログラミングコースが遂に始動！</h3>
<p>ご希望にお応えして今人気のプログラミング言語の『Ruby』コースを開設しました。 </p>
<p>オンラインでの受講となりますので、自分に合わせたスケジュールで学習することが可能です。</p>
<p>Rubyとは？</p>
<p>Rubyは1993年に日本で生まれたプログラミング言語です。プログラミング言語は外国で作られたものが多いですが、Rubyは日本人が開発した日本発のプログラミング言語です。 </p>
<p>日本人だけでなく、世界中の人が無料で利用することができます。 〜Rubyが使われている具体的なサービス例〜</p>
<p>＜Twitter＞</p>
<p>＜楽天市場＞</p>
<p>＜クックパッド＞</p>
<p>＜食べログ＞</p>
<br>
<p>Rubyを学ぶメリット</p>
<p>自分でWebサービスを開発できるようになります</p>
<p>『Ruby』を使って、TwitterやECサイトのようなWebサービスを作れるようになります。自分のアイディアをより自由に形にしたい方・エンジニアとして活躍の場を広げたい方にとっては是非身につけたいスキルです。</p>
<p>【フロントエンドエンジニアコース】</p>
<p>・Webサイトの制作スキルを修得</p>
<p>【Ruby】</p>
<p>・予約システムなど、機能のついたWebサービス構築のスキルを修得</p>
<br>
<p>市場で求められているRubyの技術</p>
<p>エンジニアとして収入を得るのに必要なのは積み重ねた技術です。 先にも触れたように、Rubyは近年最も伸びているプログラミング言語の１つです。本格的なWebアプリケーションの開発を可能にするRubyを身につける事で、エンジニアとしての市場価値は更に上がり、仕事の選択肢の幅も広がります。</p>
<br>
<hr>
<h3>コース内容･詳細</h3>
<p>Rubyプログラム</p>
<p>参加費用    期間    カリキュラム内容</p>
<p>98,000円(税別)  4週間</p>
<p>（オンラインのみ）  </p>
<p>・Rubyとは</p>
<p>・Ruby 開発環境構築</p>
<p>・Ruby基礎</p>
<p>・Ruby応用</p>
<p>・演習問題</p>
<p>・Ruby on Rails 基礎</p>
<p>※さらに、週２回オンラインで質問をする事ができます！ ※カリキュラムの内容は変更になる場合があります。</p>
<br>
<p>《他のコースと組み合わせ受講で更にお得に♪》</p>
<p>他のコースと組み合わせ受講で更にお得に♪</p>
<p>ITブートキャンプの他コースを受講されていた方は、通常のコース料金から2万円割引適応されます。</p>
<p>もちろん同時申し込みでも割引は適応されます。</p>
<p>割引適応例</p>
<p>Webデザインコース（オンライン）とRubyコースを同時に申し込んだ場合</p>
<p>Webデザインコース（98,000円）＋Rubyコース（98,000円）ー割引（20,000円）=176,000円</p>
<p>※全て税別価格です。</p>
<br>
<hr>
<h3>ITブートキャンプの受講を考えているあなたへ</h3>
<p>オンラインでも安心して学べる</p>
<p>オンラインなので、時間や場所に縛られずにRubyのスキルを学習することが可能です。</p>
<p>また、質問は24時間可能です。週に2回のビデオチャットでは画面共有を通して質問ができるので、テキストだけではわからない部分を視覚的に理解することが可能です。（※営業時間外の返信は翌営業日となります。）</p>
<br>
<hr>
<p><a href="/ruby/contact/">詳しくはこちら</a></p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
