{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>Webデザイン</h1>
<br>
<br>
{% include "/elements/comparison_table.twig"%}
<br>
<hr>
<h3>カリキュラム詳細</h3>
<p> WordPressなし  6週間（合宿2週間＋オンライン4週間）</p>
<br>
<p>こんな人に</p>
<p>一人でウェブサイトの制作をできる実力を身につけたい方にオススメです。ウェブサイト制作に必要な基本スキルを全て身に付けることをゴールとしています。</p>
<br>
<p>カリキュラム内容</p>
<p>１章        </p>
<p>HTML+CSS基礎    WEBサイト構築の基礎を学びます。</p>
<p>１章課題    HTMLスケッチ    WEBサイトを構築する練習をします。</p>
<br>
<p>２章        </p>
<p>Illstrator+Photoshop    デザインのパーツをつくる練習をします。</p>
<p>２章課題    カンプ制作  WEBサイトの設計図をつくります。</p>
<br>
<p>３章        </p>
<p>Bootstrap   WEBサイト作りをするためのテンプレートの活用を学びます。</p>
<p>Webサイト制作   実際にPCサイトの制作・構築をします。</p>
<p>レスポンシブサイト制作  スマートフォン対応したWEB制作・構築をします。</p>
<p>３章課題    Bootstrapサイト構築 Bootstrap(WEBサイト作りをするためのテンプレート)を活用してWEB制作・構築をします。</p>
<br>
<p>制作課題        </p>
<p>サイト制作 2課題    身につけた技術を駆使して、イメージしたWEBサイトをつくれるようになりましょう。</p>
<br>
<hr>
<h3>こんなサイトがつくれるようになります</h3>
<p>《 実施期間 》</p>
<p>いつからでもスタート可能です！ ご希望のスタート日から6週間(合宿2週間＋オンライン4週間)ご参加頂けます。 * 宿泊先や教室の空席の関係上、ご希望に添えない場合がございます。 まずはお気軽にご相談ください。</p>
<br>
<p>《 参加条件 》</p>
<br>
<p>PCをお持ちの方</p>
<p>20歳以上</p>
<p>学習意欲のある人</p>
<p>* 手ぶらでもOK！MacPC貸出しサービス有り。（1日当たり1,000円）</p>
<p>* Windowsもサポート可能ですが、カリキュラムはMac用になります。</p>
<br>
<p>《 参加費用 》</p>
<p>Webデザインコース</p>
<p>石垣島校、新潟校、東京校、島根校 160,000円(税抜)</p>
<p>【宿泊費について】 参加費以外に別途、宿泊費をご用意いただく必要がございます。 弊社にて宿泊先の手配をご希望の方は面談にてお申し付け下さい。 石垣島校 一泊2,000円〜※ペット可有り 新潟校 一泊1,500円〜※ペット可無し 島根校 一泊1,500円〜※ペット可無し 宿泊先状況によりご希望の宿泊先の手配が難しい場合がございますので、 お早めにお問い合わせ下さい。</p>
<br>
<hr>
<p><a href="/web_design/contact/">詳しくはこちら</a></p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
