{% extends"/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>学割･授業料&nbsp;半額返金制度</h1>
<br>
<h3>学生割引キャンペーン概要</h3>
<p>学生さんを応援!!&nbsp;ITブートキャンプのカリキュラムを特別価格で受講できます！</p>
<p>《&nbsp;対象&nbsp;》</p>
<p>学生証をもっている現役学生。</p>
<p>※&nbsp;学生証のコピーの提出必須</p>
<p></p>
<p>《&nbsp;内容&nbsp;》</p>
<p>&nbsp;授業料を20%分割引</p>
<p></p>
<p>フロントエンドエンジニア(4週間)</p>
<p>通常価格&nbsp;&nbsp;29万円&nbsp;20%割引&nbsp;⇒&nbsp;23万2千円(税抜き)</p>
<p>Webデザイン&nbsp;／&nbsp;WordPress(2週間)</p>
<p>通常価格&nbsp;&nbsp;16万円&nbsp;20%割引&nbsp;⇒&nbsp;12万8千円(税抜き)</p>
<p>オンラインコース</p>
<p>Webデザイン&nbsp;／&nbsp;WordPress(6週間)</p>
<p>通常価格&nbsp;&nbsp;9万8千円&nbsp;20%割引&nbsp;⇒&nbsp;7万8千400円(税抜き)</p>
<p>オンラインコース&nbsp;セット</p>
<p>Webデザイン+&nbsp;WordPress(12週間)</p>
<p>通常価格&nbsp;&nbsp;19万6千円&nbsp;20%割引&nbsp;⇒&nbsp;15万6千800円(税抜き)</p>
<p>※&nbsp;他キャンペーンとの併用可</p>
<br>
<hr>
<h3>【学生限定】 授業料半額返金制度概要</h3>
<p>万が一の場合でも安心!! 2017年3月までに内定を１つももらえなかった場合、 授業料の【半額】を返金します。</p>
<p>《 対象 》</p>
<p>大学もしくは修業年限１年以上の専修学校を2017年3月卒業予定の方。 ※ 学生証のコピーの提出必須</p>
<p>全カリュキュラムを履行し、IBC修了認定をもらえた生徒。</p>
<p>弊社からの斡旋で一次面接を30社以上受けた方。</p>
<p>各校（石垣校、新潟校、東京校）の生徒。</p>
<p>《 内容 》</p>
<p> 授業料を50%分割引</p>
<p></p>
<p>例）フロントエンドエンジニア(4週間) 学生割引適応価格&nbsp;&nbsp;23万2千円 50%返金 ⇒ 11万6千円(税抜き)</p>
<p>Webデザイン ／ WordPress(2週間) 学生割引適応価格&nbsp;&nbsp;12万8千円 50%返金 ⇒ 6万4千円(税抜き)</p>
<p>※ 振込み手数料を除いた金額を口座にご返金させて頂きます。 ※ 半額返金されるのは授業料のみです。宿泊費や交通費は含まれません。 ※ 他キャンペーンとの併用可</p>
<br>
<hr>
<h3>こんな学生にオススメ！</h3>
<p>学歴に自信がない</p>
<p>就活が心配だ</p>
<p>職に困らない技術を身につけたい</p>
<p>外回りよりはデスクワークの方がCoolだ</p>
<p>これからの時代はITだと思う</p>
<br>
<hr>
<h3>日本は今、IT技術を求めている</h3>
<p>現在、経済産業省は、８割強の企業が「IT人材が不足している」と発表しています。 これからの時代は、絶対的にIT技術です。 英語を話せる人は世界中にも日本中にもたくさんいますが、IT人材は世界中で不足している状況です。 イギリスをはじめとして世界中でプログラミング教育が必修化されていますが、日本はまだまだ遅れてしまっている状況です。 IT技術があれば、就職には困らない</p>
<p>企業側はいいプログラマーを欲していて、待遇も至れりつくせり。 日本だけに限らず世界中でITエンジニアは、引く手あまたです。 いずれ「フリーランス」という自由な生き方の選択肢も</p>
<p>現在日本でもIT技術をもったフリーランスが増えています。 企業に雇用されない働き方に対する理解が深まり、出勤という場所に縛られないフリーランスの生き方が注目を集めています。 そのフリーランスのほとんどが、サラリーマンとは比べ物にならない圧倒的な高額所得者です。</p>
<p>【事務局からの一言】 部活も勉強もイマイチな学生生活を送ってきたあなた、もしかすると上手くいかなかった原因はあなた自身ではなく、環境に問題があったのかもしれません。 ① 時間配分を変えること ② 住む場所を変えること ③ 付き合う人を変えること この３つを徹底すれば、あなたは今すぐにでも変わることができるでしょう。 私たちが保証します。</p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
<br>
<hr>
<p><a href="/campaign_01/contact">詳しくはこちら</a></p>
{% endblock %}
