{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>毎月10名限定・飛行機代無料</h1>
<h4>キャンペーン概要</h4>
<p>毎月10名限定!!  毎月人数限定で、最大で飛行機代が往復無料になるお得なサービスです。 お得にキャンプに参加したい方は是非ご利用下さい！</p>
<br>
<hr>
<p>飛行機代片道無料</p>
<p>（例）片道無料の場合 羽田　⇒　石垣島 航空券２万円〜４万円代　→　無料！！ ※日付により変動あり 【対象者】※人数限定 Webデザイン ／ WordPress(2週間)に入隊のお申込みをいただいた方</p>
<br>
<hr>
<p>飛行機代往復無料</p>
<p>（例）往復無料の場合 羽田　⇔　石垣島 航空券５万円〜８万円代　→　無料！！ ※日付により変動あり 【対象者】※人数限定 フロントエンドエンジニア(4週間)に入隊のお申し込みをいただいた方</p>
<br>
<hr>
<p> 注意事項</p>
<p>企業研修でのご利用は適用外となります。</p>
<br>
<p>毎月10名限定となるため、入隊状況によりご希望のお日にちに添えない場合がございます。</p>
<p>人数限定ですので、お早めにお問い合わせ下さい。</p>
<p>ピーク時など、飛行機の便の状況によりご希望のお日にちに添えない場合がございます。</p>
<p>入隊のお申込み月と、カリキュラム参加開始の月が異なる場合でも、キャンペーン適応となります。※参加開始月に関してはご相談下さい。</p>
<p>チケットは弊社でご用意させて頂く為、片道コースの場合、行き・帰りの選択はできません。予めご了承下さい。</p>
<p>※ご入金後でも入隊14日前まではキャンセルすることが可能です。 キャンセルの場合、キャンセル料として3万円頂いております。</p>
<p>その他ご不明な点等ございましたら、お気軽にご相談くださいませ。</p>
<br>
<hr>
<p><a href="/campaign_02/contact/">詳しくはこちら</a></p>
{% endblock %}
