<footer id="footer">
    <hr>
    <h2>フッター</h2>
    <h4>SITE MAP</h4>
    <p><a href="/ibc_faq">IBCとは</a></p>
    <br>
    <p>キャンペーン</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/campaign_01">学割･授業料半額返金制度</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/campaign_02">飛行機代無料</a></p>
    <br>
    <p>カリキュラム</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/front_end_engineer">フロントエンドエンジニア</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/web_design">Webデザイン</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/word_press">WordPress</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/on_line">オンライン</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/ruby">Ruby</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/mbc">マーケティング</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/ibc-for-recruitment">就活ITブートキャンプ</a></p>
    <br>
    <p>場所</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/lp">石垣校</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/niigata">新潟校</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/tokyo">東京校</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/shimane">島根校</a></p>
    <br>
    <p>評判</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/voice">参加者の声</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/struggles">参加者奮闘記</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/interview">インタビュー</a></p>
    <br>
    <p>卒業後の未来</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/future_04">IBC認定</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/future_01">フリ ーランス＆業務委託</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/future_02">職業斡旋</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/future_03">サポートメンバー</a></p>
    <br>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/blog">BLOG</a></p>
    <br>
    <p>企業様へ</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/company_01">研修として社員を参加させたい</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/company_02"/>生徒を採用したい</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/company_03">卒業生に制作をお願いしたい</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/company_04">内定者研修として</a></p>
    <br>
    <p><a href="/contact">もっと詳しく</a></p>
    <br>
    <p>会社概要</p>
    <p>株式会社Cajon</p>
    <p>〒160-0023</p>
    <p>東京都新宿区西新宿5-1-18</p>
    <p>西新宿パレスビル 3階</p>
    <p>TEL: 03-4330-9320</p>
</footer>
