<form action="" method="POST">
    <!-- お名前 -->
    <div>
        <label>
            (必須)&nbsp;お名前&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="name_famiry" placeholder="例) 山田" value="">
            <input type="text" name="name_first" placeholder="例) 太郎" value="">
        </label>
    </div>
    <!-- /お名前 -->
    <!-- 役職 -->
    <div>
        <label>
            役職&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="name_famiry" placeholder="例) xx部xx課 部長" value="">
        </label>
    </div>
    <!-- /役職 -->
    <!-- 会社名 -->
    <div>
        <label>
            (必須)&nbsp;会社名&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="company_name" placeholder="例) 株式会社IBC" value="">
        </label>
    </div>
    <!-- /会社名 -->
    <!-- メール -->
    <div>
        <label>
            (必須)&nbsp;メール&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="email" placeholder="例) yamada@example.com" value="">
        </label>
    </div>
    <!-- /メール -->
    <!-- Webサイト -->
    <div>
        <label>
            (必須)&nbsp;Webサイト&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="web_site" placeholder="例) http://example.xxx.com" value="">
        </label>
    </div>
    <!-- /Webサイト -->
    <!-- 電話番号 -->
    <div>
        <label>
            (必須)&nbsp;電話番号&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="tel" value="">
        </label>
    </div>
    <!-- /電話番号 -->
    <!-- 【IBC企業向けフォーム】お問い合わせ内容 -->
    <div>
        <label>
            【IBC企業向けフォーム】お問い合わせ内容<br>
            <textarea type="text" name="user_interview" rows="6" cols="70" placeholder="例) 採用ニーズ、企業研修としてなど、"></textarea>
        </label>
    </div>
    <!-- /【IBC企業向けフォーム】お問い合わせ内容 -->
    <p>個人情報について&nbsp;&nbsp;&nbsp;<button>個人情報保護方針</button></p>
    <input type="checkbox" name="is_approve_policy" value="">&nbsp;IBC個人情報【同意チェック】&nbsp;
    <input type="submit" value="送信する">
    <input type="hidden" name="_token" value="{{csrf_token}}">
</form>
