<div>
    <hr>
    <h3>ナビゲーション</h3>
    {% if user_data |length > 0 %}
    <!-- ログイン時 -->
    <p><img src="/uploads/profile/{{user_data['user_image']}}" alt="" width="30">&nbsp;&nbsp;&nbsp;&nbsp;<span>{{user_data["user_name"]}}さん</span></p>
    <p><a href="/mypage/">マイページ</a></p>
    <p><a href="/admin/">管理画面</a></p>
    <p><a href="/logout">ログアウト</a></p>
    <!-- /ログイン時 -->
    {% else %}
    <!-- 非ログイン時 -->
    <p><a href="/signup" class="btn-signup" id="signup_button">アカウント作成</a></p>
    <p><a href="/login" class="btn-login" id="login_button">ログイン</a></p>
    <!-- /非ログイン時 -->
    {% endif %}
    <hr>
</div>
