{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>サポートメンバー</h1>
<br>
<h3>サポートメンバーでIBCの拠点に残ることも</h3>
<p>学習しながら報酬をゲット 個別の業務委託を受けられる 講師の右腕となる存在に</p>
<p>IBCを支えるサポートスタッフに</p>
<p>卒業後、サポートメンバーとして生徒さんのサポート役に。 最初は学習しながら報酬ももらえる。ゆくゆくは講師の右腕、メンターとしてITブートキャンプを支える大きな存在になっていただきます。</p>
<br>
<p>サポートメンバーのステップ</p>
<p>Step 1 サポートメンバー見習い</p>
<p>『不足しているスキルの学習』と『メンターや正式サポートメンバーのバックアップ』を行いながら、正式メンバーとして必要な知識と実力を養います。</p>
<br>
<p>Step 2 正式サポートメンバー</p>
<p>『正式サポートメンバーの条件はカリキュラムに対する質問には全て答えられること』が条件です。 メンターや講師の元で生徒に教えつつ、業務委託を一人で完結できる能力を身につけることを目指します。</p>
<br>
<p>Step 3 メンター（管理業務含む）</p>
<p>『カリキュラムに対する知識』と『業務委託を完遂できる実力』の2つを身につけることができれば、晴れてメンターとして認められます。メンターには、正式サポートメンバーや見習いメンバーの管理業務も行っていただきます。</p>
<br>
<h3>サポートメンバーの諸条件</h3>
<p>サポートメンバーをご希望される場合は、事前面談が必須となります。 カリキュラムを最後まで完了させ、講師の承認を得ることが必要です。</p>
<p>見習い サポートメンバー 月額10万円</p>
<p>正式 サポートメンバー   月額15万円 *「正式サポートメンバー」への昇格には講師からの認定が必要となります。</p>
<p>メンター * 管理業務含む 月額20万円 *「メンター」への昇格には講師からの認定が必要となります。</p>
<br>
<p>勤務地は現在、石垣島・新潟市・東京の3箇所ですが、今後も増え続ける可能性はあります。 フレキシブルにどこでも移動出来る方は大歓迎です。</p>
<p>サポートメンバー期間は、カリキュラムは無料で受講可能！</p>
<p>生徒さんに教えるサポートをしてもらうサポートメンバーには、技術力を日々向上させて頂きたいため、 IBCが提供しているカリキュラムの追加受講は、原則無料とさせて頂きます。 詳しくは事務局までお問い合わせください。</p>
<br>
<hr>
<p><a href="/future_03/contact/">詳しくはこちら</a></p>
<br>
<hr>
<p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
{% endblock %}
