{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<h1>ウェブデザイン 女性限定キャンペーン</h1>
<br>
<p>実践形式で案件に取り組む新プログラム！受講期間が通常の2倍に！</p>
<p>前半6週間でウェブデザインのスキルを身につけ、 後半6週間はクラウドソーシングのコンペなどに参加いただいて実践力を身につけます。 ご好評によりキャンペーン延長決定！！2016.7.31(日)23:59まで</p>
<br>
<hr>
<p>在宅ワークでもっと稼ぎたい…</p>
<p>インターネット環境とPC、そして技術があれば、 いつでも、自宅で仕事ができる。それがクラウドソーシング。 そんな働き方をIBCは応援します！ 月5万円を目標に、実務レベルへとスキルアップさせる、そんなプログラムになっています。</p
<p>働きたいけど育児や家事で外に出れない…</p>
<p>育児や家事があって働けない。 いま日本が抱える大きな問題です。 その、すべてを解決できるわけではないけれど、その解決のきっかけをつくりたいとIBCは考えています。 悩んでいる、そんな女性のために新しい働き方をお手伝いします。</p>
<br>
<hr>
<p>【女性限定コース】</p>
<p>定員：  10席限定</p>
<p>受講形態：  オンライン受講（週２回メンターとの面談有り）</p>
<p>受講期間：  通常：6週間→&nbsp;&nbsp;女性限定コース：12週間</p>
<p>通常12週間のコース&nbsp;&nbsp;→ &nbsp;&nbsp;12週間延長で合計24週間</p>
<p>卒業後特典  カリキュラム終了後には業務委託のチャンス有り</p>
<p>コース詳細  Webデザインコース/WordPressコース&nbsp;&nbsp;各98,000円（税抜）</p>
<p>セット割Webデザインコース+Wordpressコース&nbsp;&nbsp;176,000円（税抜）</p>
<p>WordPressコースはWebデザインを既に修得されている方向けのステップアップコースとなります。</p>
<br>
<hr>
<p>※受講開始日はご希望にあわせることが可能ですが、席数に限りがありますので、ご希望に添えない場合もございます。 キャンペーン応募方法 下記のキャンペーンコードを面談申込みフォームのキャンペーンコードにご入力ください。</p>
<br>
<hr>
<p>備考</p>
<p>まずオンラインでの面談を行い、入隊するか否かを判断して頂いております。 面談では、担当者から現在の環境やスキルについて簡単な質問をさせていただきます。 カリキュラムやその他疑問点があれば担当者への質問が可能です。 面談後の辞退も可能です。 キャンペーン終了後の面談申し込みはできません。申し込み期限にお気をつけください。</p>
<br>
<hr>
<p><a href="/contact">詳しくはこちら</a></p>
{% endblock %}
