{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
{% include "/elements/navigation.twig" %}
<div class="container two-column">
    <div class="row">
        <div class="col-sm-12 single-top">
        </div>
        {% include "/elements/mypage_left_column.twig" %}
        <div class="col-sm-9 content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>マイページ</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
