{% extends "/layouts/mail.twig" %}
{% block content %}
<div style="text-align:left;margin-left:20px;margin-right:20px;">
    <h3>■パスワード変更</h3>
    <hr>
    <p>パスワードが変更されました。</p>
    <p>次回から、新しいパスワードでログインしてください。</p>
    <br>
</div>
<div style="text-align:center;">
    <span style="background-color:#0180A3;padding:18px;border-radius:4px;">
        <a href="http://i-b-c.jp/mypage/" style="color:#FFFFFF; font-weight:bold; text-decoration:none;">マイページをみる</a>
    </span>
</div>
{% endblock %}
